/*
    ====================================================
    This is the popover partial.
    ====================================================
*/

/* Popover
------------------------------------------*/
.note-popover.popover {
    display: none;
    max-width: none;
    .popover-content {
        padding-left: 5px;
        a {
            display: inline-block;
            max-width: 200px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap; /* for FF */
            vertical-align: middle; /* for FF */
        }
        .btn-group {
            box-shadow: unset;
        }
    }
}
