/*
    ====================================================
    This is the popover partial.
    ====================================================
*/
.note-toolbar {
    margin: 0;
    padding: 0 0 5px 5px;
    background: $background-color;

    & > .btn-group {
        margin: 5px 5px 0 0;
        background-color: unset;
        border-radius: unset;
        box-shadow: unset;
    }
    & .dropdown-toggle:after {
        content: "";
    }
    .btn-group {
        .note-table {
            min-width: 0;
            padding: 5px;
            .note-dimension-picker {
                font-size: 18px;
                .note-dimension-picker-mousecatcher {
                    position: absolute !important;
                    z-index: 3;
                    width: 10em;
                    height: 10em;
                    cursor: pointer;
                }
                .note-dimension-picker-unhighlighted {
                    position: relative !important;
                    z-index: 1;
                    width: 5em;
                    height: 5em;
                    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASAgMAAAAroGbEAAAACVBMVEUAAIj4+Pjp6ekKlAqjAAAAAXRSTlMAQObYZgAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfYAR0BKhmnaJzPAAAAG0lEQVQI12NgAAOtVatWMTCohoaGUY+EmIkEAEruEzK2J7tvAAAAAElFTkSuQmCC")
                        repeat;
                }
                .note-dimension-picker-highlighted {
                    position: absolute !important;
                    z-index: 2;
                    width: 1em;
                    height: 1em;
                    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASAgMAAAAroGbEAAAACVBMVEUAAIjd6vvD2f9LKLW+AAAAAXRSTlMAQObYZgAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfYAR0BKwNDEVT0AAAAG0lEQVQI12NgAAOtVatWMTCohoaGUY+EmIkEAEruEzK2J7tvAAAAAElFTkSuQmCC")
                        repeat;
                }
            }
        }
    }
    /* css rules for the style toolbar */
    .note-style {
        .dropdown-style {
            blockquote,
            pre {
                margin: 0;
            }
            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            p {
                margin: 0;
                padding: 0;
            }
        }
    }

    .note-color-all {
        .dropdown-menu {
            min-width: 340px;
        }
    }

    .note-color {
        .dropdown-toggle {
            width: 20px;
            padding-left: 5px;
        }
        .dropdown-menu {
            .note-palette {
                width: 160px;
                float: left;
                margin: 0px 5px;
                .btn {
                    font-size: 0.7em;
                    margin: 5px 1px;
                    width: 158px;
                }
                .note-palette-title {
                    text-align: center;
                }

                .note-color-row {
                    height: 20px;
                }

                .note-color-reset:hover {
                    background: #eee;
                }

                .note-color-select-btn {
                    display: none;
                }

                .note-holder-custom {
                    .note-color-btn {
                        border: 1px solid #eee;
                    }
                }
            }
        }
    }

    .note-para {
        .dropdown-menu {
            padding: 5px;
            .btn-group {
                margin: 0;
                &:first-child {
                    margin-bottom: 6px;
                }
            }
        }
    }

    /* dropdown-menu for toolbar and popover */
    .dropdown-menu {
        /* Material styles added for list item */
        li {
            background: none;
            border: 0;
            clear: both;
            color: rgba(0, 0, 0, 0.87);
            display: block;
            font-weight: inherit;
            padding: 6px 20px;
            position: relative;
            text-align: inherit;
            transform-origin: 0 0;
            transition-duration: 0.3s;
            transition-property: background-color, color;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            white-space: nowrap;
            width: 100%;
            a {
                color: inherit;
                text-decoration: none;
            }
            &:hover {
                background-color: $background-color;
            }
        }
        /* dropdown-menu right position */
        /* http://forrst.com/posts/Bootstrap_right_positioned_dropdown-2KB */
        &.right {
            right: 0;
            left: auto;
            &::before {
                right: 9px;
                left: auto !important;
            }
            &::after {
                right: 10px;
                left: auto !important;
            }
        }
        /* dropdown-menu for selectbox */
        &.note-check {
            li a i {
                color: deepskyblue;
                visibility: hidden;
            }
            li a.checked i {
                visibility: visible;
            }
        }
    }

    .note-fontsize-10 {
        font-size: 10px;
    }

    /* color palette for toolbar and popover */
    .note-color-palette {
        line-height: 1;
        div {
            .note-color-btn {
                width: 20px;
                height: 20px;
                padding: 0;
                margin: 0;
                border: 1px solid #fff;
            }
            .note-color-btn:hover {
                border: 1px solid #000;
            }
        }
    }
}
