/*
    ====================================================
    This is the popover partial.
    ====================================================
*/
.note-toolbar {
    margin: 0;
    padding: 0 0 5px 5px;
    background: $background-color;

    & > .btn-group {
        margin: 5px 5px 0 0;
        height: 32px;
        background-color: unset;
        border-radius: unset;
        box-shadow: unset;
    }
    & .dropdown-toggle:after {
        content: "";
    }
    .btn-group {
        .note-table {
            min-width: 0;
            padding: 5px;
            .note-dimension-picker {
                font-size: 18px;
                .note-dimension-picker-mousecatcher {
                    position: absolute !important;
                    z-index: 3;
                    width: 10em;
                    height: 10em;
                    cursor: pointer;
                }
                .note-dimension-picker-unhighlighted {
                    position: relative !important;
                    z-index: 1;
                    width: 5em;
                    height: 5em;
                    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASAgMAAAAroGbEAAAACVBMVEUAAIj4+Pjp6ekKlAqjAAAAAXRSTlMAQObYZgAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfYAR0BKhmnaJzPAAAAG0lEQVQI12NgAAOtVatWMTCohoaGUY+EmIkEAEruEzK2J7tvAAAAAElFTkSuQmCC")
                        repeat;
                }
                .note-dimension-picker-highlighted {
                    position: absolute !important;
                    z-index: 2;
                    width: 1em;
                    height: 1em;
                    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASAgMAAAAroGbEAAAACVBMVEUAAIjd6vvD2f9LKLW+AAAAAXRSTlMAQObYZgAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfYAR0BKwNDEVT0AAAAG0lEQVQI12NgAAOtVatWMTCohoaGUY+EmIkEAEruEzK2J7tvAAAAAElFTkSuQmCC")
                        repeat;
                }
            }
        }
    }

    .note-style {
        .dropdown-style {
            blockquote,
            pre {
                margin: 0;
                padding: 5px 10px;
            }
            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            p {
                margin: 0;
                padding: 0;
            }
        }
    }

    .note-color-all {
        .dropdown-menu {
            min-width: 337px;
        }
    }

    .note-color {
        .dropdown-toggle {
            width: 20px;
            padding-left: 5px;
        }
        .dropdown-menu {
            .btn-group {
                margin: 0;
                &:first-child {
                    margin: 0 5px;
                }

                .note-palette-title {
                    font-size: 12px;
                    margin: 2px 7px;
                    text-align: center;
                    border-bottom: 1px solid #eee;
                }

                .note-color-reset,
                .note-color-select {
                    font-size: 11px;
                    margin: 3px;
                    padding: 0 3px;
                    cursor: pointer;
                    @include rounded(5px);
                }

                .note-color-row {
                    height: 20px;
                }

                .note-color-reset:hover {
                    background: #eee;
                }

                .note-color-select-btn {
                    display: none;
                }

                .note-holder-custom {
                    .note-color-btn {
                        border: 1px solid #eee;
                    }
                }
            }
        }
    }

    .note-para {
        .dropdown-menu {
            min-width: 216px;
            padding: 5px;
            & > div:first-child {
                margin-right: 5px;
            }
        }
    }

    /* dropdown-menu for toolbar and popover */
    .dropdown-menu {
        min-width: 90px;

        /* dropdown-menu right position */
        /* http://forrst.com/posts/Bootstrap_right_positioned_dropdown-2KB */
        &.right {
            right: 0;
            left: auto;
            &::before {
                right: 9px;
                left: auto !important;
            }
            &::after {
                right: 10px;
                left: auto !important;
            }
        }
        /* dropdown-menu for selectbox */
        &.note-check {
            li a i {
                color: deepskyblue;
                visibility: hidden;
            }
            li a.checked i {
                visibility: visible;
            }
        }
    }

    .note-fontsize-10 {
        font-size: 10px;
    }

    /* color palette for toolbar and popover */
    .note-color-palette {
        line-height: 1;
        div {
            .note-color-btn {
                width: 20px;
                height: 20px;
                padding: 0;
                margin: 0;
                border: 1px solid #fff;
            }
            .note-color-btn:hover {
                border: 1px solid #000;
            }
        }
    }
}
