/* Begin Theme Variables */
$primary-color: #9c27b0;
$border-color: #a9a9a9;
$background-color: #f5f5f5;

$img-margin-left: 10px;
$img-margin-right: 10px;
/* End Theme Variables */

/* Begin Dropzone Variables */
$dropzone-color: #ff4081;
$dropzone-active-color: darken($dropzone-color, 30);
/* End Dropzone Variables */
